body {
  /* background: url(../assets/img/logo-o.svg) repeat center center/30px; */
  background-color: #f8f8f8;
}

.quiz {
  width: 60%;
  margin: auto;
}

.points {
  display: flex;justify-content: space-between;
}

.question {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  min-height: 140px;
  position: relative;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.question span {
  /* border: 1px solid #000; */
  width: 80%;
}

.question img {
  margin-top: 10px;
  margin-right: 10px;
}

.answers {
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.answers button {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background: none;
  color: var(--primary-color);
  font-weight: bolder;
  outline: none;
  border: 1px dotted var(--primary-color);
  transition: all .4s ease;
}

.answers button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 414px) {
  .quiz {
    width: auto;
  }

  .question {
    padding: 20px;
    min-height: unset;
    background-color: unset;
    min-height: 120px;
    /* font-size: 18px; */
    background-color: #fff;
  }

  h2 {
    font-size: 14px;
  }
}
