#categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin: 50px auto;
  grid-gap: 10px;
}

body {
  width: 70%;
  margin: auto;

}

#categories > a {
  width: 260px;
  height: 280px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.c-head {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.c-main {
  flex: 1;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

button {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background: none;
  color: var(--primary-color);
  font-weight: bolder;
  outline: none;
  border: 1px solid #aaa;
  transition: all .4s ease;
  margin-bottom: 50px;
}

button:hover {
  box-shadow: 0 0 2px 4px #eee;
}

#btn-go {
  display: block;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  width: 40%;
  margin-bottom: 50px;
}

input {
  border: 10px solid red;
}

.btn-check {
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background: none;
  color: #000;
  font-weight: bolder;
  outline: none;
  border: 1px solid #aaa;
  transition: all .4s ease;
  text-align: center;
}

.btn-check input:checked + span {
  color: #fff;
  color: var(--primary-color);
}